* {
    margin: 0;
    padding: 0; 
}

body, html {
    height: 100%;
}


.wrapper {
    margin: 0 auto;
    max-width: 1145;
    min-height: 100%;
    padding-bottom: 40px;
}

.header {
    background-color: rgb(36, 36, 36);
    color: rgb(209, 206, 192);
}

.header p {
    padding: 5px 15px;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(209, 206, 192);
}

a {
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    color: rgb(138, 138, 138);
}

li {
    list-style-type: none;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 10px 15px;
}

nav ul li ul li {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.photoGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

.photoGallery img {
    margin: 5px;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

footer {
    height: 40px;
    margin-top: -40px;
    background-color: rgb(36, 36, 36);
    color: rgb(209, 206, 192);
    /* width: -webkit-fill-available; */
    /* padding: 5px 15px; */
    padding: 10px 0;
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer p {
    padding: 0 20px;
}